doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // bootstrap css
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css", rel="stylesheet")
    // bootstrap js and popper
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js")  
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
  body
    header.p-3.text-bg-dark
      .container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
          a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none(href='/')
            svg.bi.me-2(width='40', height='32', role='img', aria-label='Bootstrap')
              use(xlink:href='#bootstrap')
          ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
            li
              a.nav-link.px-2.text-white(href='#')
              h2#pageTitle Ticketpool


    form.row.g-3.needs-validation.bg-light.p-4.rounded.shadow-lg(action, method="post", role="form")
      .col-md-4
        label.form-label(for='validationCustom01') Nombre
        input#validationCustom01.form-control.form-control-lg(type='text', name='nombre', required='true')
        .valid-feedback
          | Looks good!
      .col-md-4
        label.form-label(for='validationCustom02') Correo
        input#validationCustom02.form-control.form-control-lg(type='text', name='correo', required='')
        .valid-feedback
          | user@gmail.com!
      .col-md-6
        label.form-label(for='validationCustom03') Ciudad
        input#validationCustom03.form-control.form-control-lg(type='text', name='ciudad', required='')
        .invalid-feedback
          | Ciudad de su preferencia.
      .col-md-3
        label.form-label(for='validationCustom04') Intereses
        select#validationCustom04.form-select.form-select-lg(name='intereses', required='')
          option(selected='', disabled='', value='') Elija...
          option Arte
          option Cine 
          option Lectura
        .invalid-feedback
          | Please select a valid state.
      .col-md-3
        label.form-label(for='validationCustom05') Edad
        input#validationCustom05.form-control.form-control-lg(type='text', name='edad', required='')
        .invalid-feedback
          | Su edad.
      .col-12
        button.btn.btn-danger.btn-lg(type='submit') Registrar