doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // bootstrap css
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css", rel="stylesheet")
    // bootstrap js and popper
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js")  
  body
    header.p-3.text-bg-dark
      .container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
          a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none(href='/')
            svg.bi.me-2(width='40', height='32', role='img', aria-label='Bootstrap')
              use(xlink:href='#bootstrap')
          ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
            li
              a.nav-link.px-2.text-white(href='#')
              h2 Ticketpool
          form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role='search')
            input.form-control.form-control-dark.text-bg-dark(type='search', placeholder='Search...', aria-label='Search')
          .text-end
            button.btn.btn-outline-light.me-2(type='button') Login
            button.btn.btn-outline-danger(type='button') Sing in
    //imagen de la funcion
    img.img-fluid(src='https://cdn.buenplan.com.ec/pictures/6e7e2b9b-8fdd-4c94-9cf0-7847f9ad8dce.png', alt='DaranViendo')
    //descripcion
    .row.g-5
      .col-md-8
        h3.pb-4.mb-4.fst-italic.border-bottom
        article.blog-post
          h2.display-5.link-body-emphasis.mb-1 Daran Huevando
          p.blog-post-meta
            | 30 de septiembre 2023, 20:00 (EC) 
          p
            | Darán Hueveando es la unión de darán viendo y Hueveando
          hr
          
          

          h2 Lugar del evento
          p
            | Auditorio Cámara de Comercio. Las Cámaras, Av. Río Amazonas, Quito 170135
          img.img-fluid(src='https://blog.misterplan.es/wp-content/uploads/grada_asientos.jpg', alt='DaranViendo')
          h3 Compra de entradas 
          table.table
            thead
              tr
                th Localidad
                th Precio
                th Cantidad
            tbody
              tr 
                td General 
                td $20
                td 2
            tfoot
              tr
                td 
                th Subtotal
                td $40
          p
            a.btn.btn-outline-danger(href='http://localhost:3000/cuarta') Comprar
          //compra de entradas

      .col-md-4
        .position-sticky(style='top: 2rem;')
          .p-4.mb-3.bg-body-tertiary.rounded
          div
            h4 Organizadores
            ul.list-unstyled
              li
                img.img-fluid(src='https://cdn.buenplan.com.ec/pictures/6a19ef22-8754-4095-8a8c-8f1307316ffc.jpeg', alt='DaranViendo3')
              li
                img.img-fluid(src='https://cdn.worldvectorlogo.com/logos/claro.svg', alt='DaranViendo3')
              
          
    //Fotter
    .container
      footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
        .col-md-4.d-flex.align-items-center
          a.mb-3.me-2.mb-md-0.text-body-warning.text-decoration-none.lh-1(href='/')
          span.mb-3.mb-md-0.text-body-warning &copy; 2023 Desarrollo Web 3
        ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
          li.ms-3
            a.text-body-warning(href='#')
              svg.bi(width='24', height='24')
                use(xlink:href='#twitter')
          li.ms-3
            a.text-body-warning(href='#')
              svg.bi(width='24', height='24')
                use(xlink:href='#instagram')
          li.ms-3
            a.text-body-warning(href='#')
              svg.bi(width='24', height='24')
                use(xlink:href='#facebook')
    