doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='app_server/CSS/asientos.css')
    // bootstrap css
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css", rel="stylesheet")
    // bootstrap js and popper
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js")  

    
  body
    header.p-3.text-bg-dark
      .container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
          a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none(href='/')
            svg.bi.me-2(width='40', height='32', role='img', aria-label='Bootstrap')
              use(xlink:href='#bootstrap')
          ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
            li
              a.nav-link.px-2.text-white(href='#')
              h2 Ticketpool
          form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role='search')
            input.form-control.form-control-dark.text-bg-dark(type='search', placeholder='Search...', aria-label='Search')
          .text-end
            button.btn.btn-outline-light.me-2(href='/registro') Login
            button.btn.btn-outline-danger(href='/registro') Sing in
    //imagen de la funcion
    img.img-fluid(src='https://cdn.buenplan.com.ec/pictures/6e7e2b9b-8fdd-4c94-9cf0-7847f9ad8dce.png', alt='DaranViendo')
    //descripcion
    .row.g-5
      .col-md-8
        .card.bg-light.p-4.rounded.shadow-lg
          .col-lg-8.pt-4.pt-lg-0.content(data-aos='fade-left')
          h3 Daran Viendo
          p.fst-italic
            |Darán Hueveando es la unión de darán viendo y Hueveando 
          .row
            .col-lg-6
              ul
                li
                  i.bi.bi-chevron-right
                  |  
                  strong Fecha:
                  |  
                  span 30 de septiembre 2023, 20:00 (EC)
                li
                  i.bi.bi-chevron-right
                  |  
                  strong Lugar:
                  |  
                  span Auditorio Cámara de Comercio. Las Cámaras, Av. Río Amazonas, Quito 170135
          .movie-container
            label Pick a movie: 
            select#movie
              option(value='250') Interstellar (Rs. 250)
              option(value='200') Kabir Singh (Rs. 200)
              option(value='150') Duniyadari (Rs. 150)
              option(value='100') Natsamrat (Rs. 100)
            ul.showcase
              li
                .seat
                small N/A
              li
                .seat.selected
                small Selected
              li
                .seat.occupied
                small Occupied
            .container
              .screen
              .row
                .seat
                .seat
                .seat
                .seat
                .seat
                .seat
                .seat
                .seat
              .row
                .seat
                .seat
                .seat
                .seat.occupied
                .seat.occupied
                .seat
                .seat
                .seat
              .row
                .seat
                .seat
                .seat
                .seat
                .seat
                .seat
                .seat.occupied
                .seat.occupied
              .row
                .seat
                .seat
                .seat
                .seat
                .seat
                .seat
                .seat
                .seat
              .row
                .seat
                .seat
                .seat
                .seat.occupied
                .seat.occupied
                .seat
                .seat
                .seat
              .row
                .seat
                .seat
                .seat
                .seat
                .seat.occupied
                .seat.occupied
                .seat.occupied
                .seat
              p.text
                | You have selected 
                span#count 0
                |  seats for the total price of Rs. 
                span#total 0
          .credits
            a(href='http://www.aniket.co', target='_blank') aniket.co      
          p
            | El Chismecito es un show de Majo Reina @soymajoreina y Mateo Balseca @mateo.balseca quienes han creado un monólogo lleno de risas y sorpresas para su audiencia, además de eso invitados especiales y podcast en vivo.
          img.img-fluid(src='https://blog.misterplan.es/wp-content/uploads/grada_asientos.jpg', alt='DaranViendo')
          h3 Compra de entradas 
          table.table
            thead
              tr
                th Localidad
                th Precio
                th Cantidad
            tbody
              tr 
                td General 
                td $20
                td 2
            tfoot
              tr
                td 
                th Subtotal
                td $40
          p
            a.btn.btn-outline-danger(href='/cuarta') Comprar
          //compra de entradas

      .col-md-4
        .position-sticky(style='top: 2rem;')
          .p-4.mb-3.bg-body-tertiary.rounded
          div
            h4.fw-bold(style='text-align: center;') Organizadores
            ul.list-unstyled
              li
                img.img-fluid.rounded(src='https://cdn.buenplan.com.ec/pictures/6a19ef22-8754-4095-8a8c-8f1307316ffc.jpeg', width='130', height='130', alt='DaranViendo3', style='margin: auto;')
              li
                img.img-fluid.rounded(src='https://cdn.worldvectorlogo.com/logos/claro.svg', width='130', height='130', alt='DaranViendo3', style='margin: auto;')
          
    //Fotter
    .container
      footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
        .col-md-4.d-flex.align-items-center
          a.mb-3.me-2.mb-md-0.text-body-warning.text-decoration-none.lh-1(href='/')
          span.mb-3.mb-md-0.text-body-warning &copy; 2023 Desarrollo Web 3
        ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
          li.ms-3
            a.text-body-warning(href='#')
              svg.bi(width='24', height='24')
                use(xlink:href='#twitter')
          li.ms-3
            a.text-body-warning(href='#')
              svg.bi(width='24', height='24')
                use(xlink:href='#instagram')
          li.ms-3
            a.text-body-warning(href='#')
              svg.bi(width='24', height='24')
                use(xlink:href='#facebook')
    